<body class="brown darken-3">
  <div class="row wideFrame width100 white">
    <div class="col s7 m8 l10 height100 valign-wrapper center">
      <div class="center width100">
        <p class="italic fontBitter bold text-brown">Hi there, I am</p>
        <a class="fontRoboto responsiveFont5 bold"
        href="https://www.google.com">Saeed Oveisi</a>
      </div>
    </div>

    <div class="col s5 m4 l2 height100 right-align" id="personalPicDiv">
      <img src="./assets/pix/me.png" alt="my Picture" class="height100">
    </div>
  </div>
</body>
